
.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: rgb(25%, 59%, 93%);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}




.text-primary {
    color: #4096EE;
}


.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(64, 150, 238,.9) ;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a {
    color: #4096EE;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


hr {
    max-width: 50px;
    border-color: #4096EE;
    border-width: 3px;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgb(25%, 59%, 93%);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #4096EE;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: rgb(25%, 59%, 93%);;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}


