
/* ----------------------------------------------------
	HEADERS	
------------------------------------------------------- */  
	
	.navbar-default,
	.header {
		background: #fdfdfd; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #fdfdfd 0%, #f7f7f7 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fdfdfd 0%,#f7f7f7 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fdfdfd 0%,#f7f7f7 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fdfdfd 0%,#f7f7f7 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
	}

	.header,
	.onepage {
		position: relative;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		transition: all 0.8s;
		height: 55px;
	}

	.header.affix,
	.onepage.affix {
		width:100%;
		top:0;
		right:0;
		padding:0;
		margin:0;
		position: fixed;
		border-bottom: 1px solid #ececec;
		z-index: 9999;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		transition: all 0.8s;
	}
	.header.affix {
		border-bottom: 0;
	}
	.navbar-default {
		background-color: #fff;
		border:0;
		border-radius: 0;
		box-shadow: none;
	}
	.navbar-brand {
		padding: 20px 0;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar-nav > li > a {
	    background-color: transparent !important;
	    /*padding-bottom: 33px;*/
	    font-size: 14px !important;
	    font-weight: 700;
	    text-transform: uppercase;
	    color:#565966 !important;
	    padding-top: 20px;
	}
	.navbar-nav li {
	    border-bottom:2px solid #f7f7f7;
		-webkit-transition:all 0.4s ease-in-out;
        -moz-transition:all 0.4s ease-in-out;
        -o-transition:all 0.4s ease-in-out;
        transition:all 0.4s ease-in-out;
	}

	.navbar-nav li:hover,
	.navbar-nav li:focus,
	.navbar-nav li.active {
	    border-bottom:2px solid #565966;
	}

	.yamm .nav,
	.yamm .collapse,
	.yamm .dropup,
	.yamm .dropdown {
	  position: static;
	}
	.yamm .container {
	  position: relative;
	}
	.yamm .dropdown-menu {
	  left: auto;
	}
	.yamm .yamm-content {
	  padding:0;
	}
	.yamm .dropdown.yamm-fw .dropdown-menu {
	  left: 0;
	  right: 0;
	}
	.yamm .box {
		padding:0;
		min-width: 190px;
	}
	.navbar-default .dropdown-menu {
	    border: 0 solid #e8e8e8 !important;
	    border-radius: 0;
	    box-shadow: none;
	    font-size: 14px;
	    margin: 0;
	    list-style: none;
	    padding: 0;
	}

	.navbar-default .dropdown-menu li {
		border-bottom: 0 !important
	}
	.navbar-default .dropdown-menu li a {
	    font-size: 13px;
	    line-height: 38px;
		padding:0 30px;
		font-weight: 500;
	    display: block;
	    width: 100%;
	    color:#afb0b4 !important;
	}
	.course-desc.noborder {
		border:0 !important;
		margin: 0 !important;
		padding:0 !important;
	}
	.course-desc.noborder h5 {
		padding-bottom: 10px !important;
		display: block !important
	}
	.nopadding {
		padding:0;
	}
	.nopaddingbottom {
		overflow: hidden;
		padding-bottom: 40px !important
	}
	.nopaddingobottomfull {
		padding-bottom: 0 !important
	}
	.nopaddingbottom .service-style-1 {
		background-color: #ffffff;
	}
	.box li:last-child {
		border-bottom: 1px solid #e7e7e7 !important;
	}

	.normalmenu li,
	.megamenu .box li {
		padding:0;
		list-style: none;
		border-top: 1px solid #e7e7e7 !important;
		border-right: 1px solid #e7e7e7 !important;
		border-left: 1px solid #e7e7e7 !important;
	}


	.box li:focus,
	.box li:hover {
		background-color: #f7f7f7;
		border:0 !important;
		border: 1px solid #e7e7e7 !important;
		border-bottom: 0 solid #e7e7e7 !important;
		border-right: 0 solid #e7e7e7 !important;
	}
	.nopadding .box li {
			border-left: 0 !important
	}
	.yamm .normalmenu li:last-child,
	.box li:focus:last-child,
	.box li:hover:last-child {
		border-bottom: 1px solid #e7e7e7 !important;
	}
	.yamm .nopadding li:focus,
	.yamm .nopadding li:hover {
		border-right: 1px solid #e7e7e7 !important;
	}

	.firstcolumn {
		padding:0 !important;
	}
	.yamm-content {
		background-color: #fff;
	}
	.topbar {
		background-color: #f9f9f9;
		position: relative;
		display: block;
		padding:0;
		border-bottom: 1px solid #e8e8e8;
	}

	.topbar .list-inline {
		margin:0;
	}

	.topbar li {
		font-size: 13px;
		line-height: 20px;
		padding:12px 13px;
		margin:0;
		border-left: 1px solid #e8e8e8;
		color: #afb0b4;
	}
	.topbar li:first-child {
		border-left: 1px solid #e8e8e8;
		border-right: 0 solid #e8e8e8;
	}

	.topbar li:last-child {
		border-right: 1px solid #e8e8e8;
	}
	.contactwrap i {
		font-size: 15px;
		padding-right: 5px;
	}
	.contactwrap a {
		color:#afb0b4;
	}
	.contactwrap .dropdown-menu {
	    border: 1px solid #e8e8e8;
	    border-radius: 0;
	    box-shadow: none;
	    font-size: 14px;
	    margin: 0;
	    min-width: 240px;
	    padding: 20px;
	}
	.contactwrap .dropdown {
	}

	.contactwrap h4 a {
		color:#383c4b;
	}
	.contactwrap h4 {
	    font-family: Open Sans;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 1 !important;
	    margin: 0 !important;
	    padding: 0 !important;
	    text-align: center;
	}
	.contactwrap hr {
		margin: 15px 0;
		border-color:#d7d7d7;
	}
	.formpassword {
		position: relative;
	}
	.formpassword span {
	    background: #383c4b;
	    border-radius: 3px;
	    font-size: 12px;
	    font-weight: normal;
	    letter-spacing: 0.04em;
	    padding: 4px 10px 5px;
	    position: absolute;
	    right: 7px;
	    top: 7px;
	}
	.form-title h4 {
		text-align: left;
	}
	.form-title hr {
		width: 40px;
	}

	.post-meta .social,
	.social {
		padding:0;
	}

	.post-meta .social i,
	.social i {
		color:#afb0b4;
		margin:0 !important;
		padding: 0 !important;
	}

	.post-meta .social li a,
	.widget .social li a,
	.social li a {
		font-size: 14px;
		line-height: 1;
		margin:0;
		color: #afb0b4;
	}

	.post-meta .social li.facebook,
	.widget .social li.facebook,
	.social li.facebook:hover {
		background-color: #5d82d1;
	}
	.post-meta .social li.twitter,
	.widget .social li.twitter,
	.social li.twitter:hover {
		background-color: #40bff5;
	}
	.post-meta .social li.google,
	.widget .social li.google,
	.social li.google:hover {
		background-color: #eb5e4c;
	}
	.post-meta .social li.pinterest,
	.widget .social li.pinterest,
	.social li.pinterest:hover {
		background-color: #e13138;
	}
	.post-meta .social li.vimeo,
	.widget .social li.vimeo,
	.social li.vimeo:hover {
		background-color: #35c6ea;
	}
	.post-meta .social li.linkedin,
	.widget .social li.linkedin,
	.social li.linkedin:hover {
		background-color: #238cc8;
	}
	.post-meta .social li.dribbble,
	.widget .social li.dribbble,
	.social li.dribbble:hover {
		background-color: #f7659c;
	}
	.post-meta .social li.youtube,
	.widget .social li.youtube,
	.social li.youtube:hover {
		background-color: #ef4e41;
	}
	.post-meta .social li.rss,
	.widget .social li.rss,
	.social li.rss:hover {
		background-color: #faa33d;
	}
	.post-meta .social li i,
	.widget .social li i,
	.social li:hover i {
		color:#ffffff !important;
	}
	.post-meta .social li,
	.widget .social li,
	.social li {
		list-style: none;
		float:left;
	}


/** PARNERS SECTION **/
#partners img{
	width: 70%;
	height: 50px;
}